* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  width: 100%;
  padding: 20px 20px 20px 20px;
}

.links-left {
  display: flex;
  justify-content: flex-start;
}


.links-right {
  display: flex;
}

#menu {
  margin-right: 20px;
}

.logo {
  display: flex;
  width: 900px;
  padding : 5% 0 20px 0;
  margin: 0 auto 50px auto;
  justify-content: center;
  border: 1px solid red;
}

#search-bar {
  width: 500px;
}

.footer {
  background-color: #eeeeee;
  padding-top: 15px;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
}

.footer-left {
  display: flex;
  padding-left: 20px;
  float: left;
}

.footer-right {
  display: flex;
  float:right;
}

#foot-links {
  margin-right: 20px;
}
